@font-face {
  font-family: 'Helvetica', sans-serif;
  src: url(../fonts/helvetica.woff2);
}
html{
  box-sizing: border-box;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

a{
  color: inherit;
  text-decoration: none;
}

li{
  list-style: none;
}

img{
  max-width: 100%;
}

body {

}